{% extends "bootstrap/base.html" %}


{% block title %} Network inspecting tool {% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Network inspection tool</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Topology</a></li>
      <li><a href="#">Documentation</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class=""><a href="/shutdown"><span class="glyphicon glyphicon-off"></span></a></li>
      </ul>

  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert">x</button>
{{ message }}
</div>
{% endfor %}

{% block page_content %} {% endblock %}
</div>
{% endblock %}
